body {
  background-color: #9999FF;
}

#content {
  background-color: #B2CCCC;
  margin: 100px 150px 150px 200px;
  text-align: center;
  border: 1px dotted black;
  box-shadow: 1px 2px 2px 1px;
  padding-bottom: 50px;
  border-radius: 30px;
}

ul {
  list-style-type: none;
}

#signiture {
  font-size: 35px;
}

h2 {
  text-decoration: underline;
  color: red;
}